<% layout('../layouts/form-layout') -%>
<% block('title', order.order_id ? 'Редактировать заказ' : 'Новый заказ' ) -%>
<form class="form" method="POST" action="<%= action %>">
  <div class="form_item">
    <label>Клиент:</label>
    <select name="customer_id" required>
      <% customers.forEach(c=> { %>
        <option value="<%= c.customer_id %>" <%=order.customer_id===c.customer_id ? 'selected' : '' %>><%= c.name %>
        </option>
        <% }) %>
      </select>
  </div>
  <div class="form_item">
    <label>Ресторан:</label>
    <select name="restaurant_id" required>
      <% restaurants.forEach(r=> { %>
        <option value="<%= r.restaurant_id %>" <%=order.restaurant_id===r.restaurant_id ? 'selected' : '' %>><%=
            r.name %>
        </option>
        <% }) %>
    </select>
  </div>
  <div class="form_item">
    <label>Курьер:</label>
    <select name="courier_id">
      <option value="">—</option>
      <% couriers.forEach(cr=> { %>
        <option value="<%= cr.courier_id %>" <%=order.courier_id===cr.courier_id ? 'selected' : '' %>><%= cr.name %>
        </option>
        <% }) %>
    </select>
  </div>
  <div class="form_item">
    <label>Дата заказа</label>
    <input type="datetime-local" name="order_date" required value="<%= order.order_date ? order.order_date.toISOString().slice(0, 16) : '' %>">
  </div>
  <div class="form_item">
    <label>Статус:</label>
    <select name="status">
      <option value="New">New</option>
      <option value="Preparing">Preparing</option>
      <option value="OnWay">OnWay</option>
      <option value="Delivered">Delivered</option>
      <option value="Canceled">Canceled</option>
    </select>
  </div>
  <div class="form_item">
    <label>Цена</label>
    <input type="number" name="total_amount" required value="<%= order.total_amount ? Number(order.total_amount) : "" %>">
  </div>
  <div class="form_item">
    <label>Заказ доставлен в:</label>
    <input type="datetime-local" name="delivered_at" required value="<%= order.delivered_at ? order.delivered_at.toISOString().slice(0, 16) : '' %>">
  </div>
  <div>
    <button class="btn" type="submit">Сохранить</button>
    <a class="btn" href="/orders">Отмена</a>
  </div>
</form>