<% layout('../layouts/form-layout') -%>
<% block('title', customer.customer_id ? 'Редактировать клиента' : 'Добавить клиента' ) -%>
<form class="form" action="<%= action %>" method="POST">
  <div class="form_item">
    <label>Email: <input type="email" name="email" value="<%= customer.email || '' %>"></label><br>
  </div>
  <div class="form_item">
    <label>Имя: <input type="text" name="name" value="<%= customer.name || '' %>"></label><br>
  </div>
  <div class="form_item">
    <label>Телефон: <input type="text" name="phone" value="<%= customer.phone || '' %>"></label><br>
  </div>
  <div class="form_item">
    <label>Адрес: <input type="text" name="address" value="<%= customer.address || '' %>"></label><br>
  </div>
  <button class="btn" type="submit">Сохранить</button>
</form>