<% layout('../layouts/form-layout') -%>
<% block('title', "Добавить связь блюдо-категория" ) -%>

<form action="<%= action %>" method="POST">
  <label>Блюдо:</label>
  <select name="item_id" required>
    <% items.forEach(item => { %>
      <option value="<%= item.item_id %>"><%= item.name %></option>
    <% }) %>
  </select>

  <label>Категория:</label>
  <select name="category_id" required>
    <% categories.forEach(cat => { %>
      <option value="<%= cat.category_id %>"><%= cat.name %></option>
    <% }) %>
  </select>

  <button type="submit">Сохранить</button>
</form>
